[MASTER]
load-plugins = pylint.extensions.docparams, pylint.extensions.docstyle, pylint.extensions.mccabe

[BASIC]
accept-no-param-doc = no
accept-no-raise-doc = no
accept-no-return-doc = no
accept-no-yields-doc = no
default-docstring-type = numpy

[FORMAT]
max-line-length = 120

[MESSAGES CONTROL]
disable = C0199, C0411, C0116, C0114
